
<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Информция о нас</h3>
            <p>Мы являемся самым попоулярным среди интернет магазинов.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>г.Талдыкорган ул.Шевченко д.119</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+7-728-232-81-22</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>meanstore@email.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Категории</h3>
            <ul class="footer-links">
              <li><a href="#">Горячие предложении</a></li>
              <li><a href="#">Лаптопы</a></li>
              <li><a href="#">Смартфоны</a></li>
              <li><a href="#">Камеры</a></li>
              <li><a href="#">Аксессуары</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Информация</h3>
            <ul class="footer-links">
              <li><a href="#">О нас</a></li>
              <li><a href="#">Наши контакты</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Заказы и возвраты</a></li>
              <li><a href="#">Условия и положения</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Сервисы</h3>
            <ul class="footer-links">
              <li><a href="#">Мой аккаунт</a></li>
              <li><a href="#">Показать корзинку</a></li>
              <li><a href="#">Понравившиеся</a></li>
              <li><a href="#">Отслежование заказов</a></li>
              <li><a href="#">Помощь</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
